* {
	margin: 0;
	padding: 0;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;

  @include rwd(tablet) {
    font-size: 15px;
  }
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
}