* {
	margin: 0;
	padding: 0;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, sans-serif;
  // background-color: cadetblue;
}

// PROJECT
a {
  &:visited {
    color: $visitedLinkColor;
  }
}