@import 'reset-css/normalize';
@import 'var';
@import 'mixin';
@import 'helpers';
@import 'settings';

.container-h {
  margin: 0 80px;
  
  &--relative {
    position: relative;
    z-index: 2;
  }

  &--medium-x-margin {
    @include rwd(1140px) {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  &--without-x-margin {
    @include rwd(910px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  &--without-x-margin-phone-rwd {
    @include rwd(phone) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.page {
  margin: 0 auto;
  max-width: 1366px;

  &__header {
    position: relative;
    min-height: 330px;
    color: $white;
    text-transform: uppercase;
    @include bgPos('../src/img/bg_header.png', false, -300px);
    overflow: hidden;

    @include rwd(910px) {
      background-size: auto;
      background-position-x: center;
    }

    &::after {
      content: "";
      @include pos(absolute);
      width: 100%;
      height: 100%;
      background-image: linear-gradient($black -20%, transparent);
      z-index: 0;
    }
  }

  &__nav {
    margin: 10px 0;
    @include flex(space-between);

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &__footer {
    min-height: 100px;
    @include flex(space-between);
    font-size: 0.8rem;

    @include rwd(tablet) {
      flex-direction: column;
      text-align: center;

      & > * {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__copyright {
    margin-bottom: 5px;
    color: $grey-dark-color-strong;
  }

  &__bold-item {
    font-weight: bold;
  }
}

.logo {
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;

  &__link {
    @include reset(a);
  }
}

.main-menu {
  margin-right: auto;
  @include flex();
  font-size: .9rem;
  list-style-type: none;
  transition: .6s;

  @include rwd(1220px) {
    position: fixed;
    right: -320px;
    display: flex;
    flex-direction: column;
    min-width: 264px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: $secondary-color;
    z-index: 990;

    & > .main-menu__item {
      margin-top: 20px;
      margin-bottom: 20px;

      @include rwd(phone) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    & > .main-menu__item > .main-menu__link-item {
      margin: 0;

      &:hover {
        color: $white;
        font-weight: bold;
      }
    }
  }

  @include rwd(phone) {
    min-width: 230px;
  }

  &__item {
    &--slide-right-arrow {
      display: none;
      cursor: pointer;

      @include rwd(1220px) {
        margin-left: auto;
        margin-right: 51px;
        display: block;
      }
    }
  }

  &__link-item {
    @include reset(a);
    margin: 0 20px;
    color: $white;
    transition: color .2s;

    &:hover {
      color: $secondary-color;
      text-shadow: 1px 0 0 $secondary-color;
    }

    &--drop-down-link {
      margin: 0 40px 0 60px;
      @include flex();

      &::after {
        content: "\e904";
        margin-left: 10px;
        font-family: "icomoon";
        font-size: .5rem;
      }
    }

    &--without-left-margin {
      margin-left: 0;
    }
    
    &--without-right-margin {
      margin-right: 0;
    }
  }
}

.user-panel {
  margin-top: 4px;
  @include flex();
  list-style-type: none;

  @include rwd(1220px) {
    margin-left: auto;
    margin-right: 70px;
  }

  @include rwd(phone) {
    margin: 10px 0 0 0;
    width: 100%;
  }

  &__btn-item {
    margin: 0 20px;
    position: relative;
    font-size: 1.3rem;
    color: $white;
    transition: .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }

    &.shopping-cart {
      &::after {
        content: attr(data-shopping-cart-counter);
        @include pos(absolute, -50%, 50%);
        @include circle(21px);
        font-size: .6rem;
        background-color: $primary-color;
      }
    }
    
    &.favourite {
      &::after {
        content: attr(data-favourite-counter);
        @include pos(absolute, -50%, 50%);
        @include circle(21px);
        font-size: .6rem;
        background-color: $secondary-color;
      }
    }
  }
}

.breadcrumps {
  margin-bottom: 36px;
  width: 50%;
  font-size: .7rem;
  background-color: rgba(255,255,255,.4);
  overflow: hidden;

  @include rwd(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  
  @include rwd(phone) {
    width: 100%;
  }

  & > .container-h {
    margin-top: 15px;
    @include flex(flex-start, flex-start);

    @include rwd(910px) {
      justify-content: center;
    }
  }

  &__path1,
  &__path2 {
    @include flex(flex-start, flex-start);
    list-style-type: none;
  }
  
  &__path2 {
    margin-left: 60px;
  }

  &__item {
    &:not(:last-child)::after {
      content: "/";
      margin: 10px;
    }

    &--primary-color {
      color: $primary-color;

      &::after {
        content: "\e904";
        margin-left: 10px;
        font-family: "icomoon";
        font-size: .5rem;
      }
    }
  }
  
  &__dropdown-btn {
    font-size: .5rem;
  }
}

.slider {
  text-align: center;

  &__title {
    margin-bottom: 22px;
    font-size: 1.2rem;
    color: $primary-color;
    line-height: 22px;
    font-weight: normal;
  }

  &__slider-container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    font-size: 1.2rem;
  }

  &__prev-slide-btn,
  &__next-slide-btn {
    font-size: 1.7rem;
  }
}

.cub-products {
  padding: 40px 0;
  font-size: 0.9rem;

  &__products-show-panel {
    @include flex(space-between);

    @include rwd(1170px) {
      flex-direction: column;
    }

    &--centering-inner-items {
      justify-content: center;
    }
  }

  &__products-per-page,
  &__sort-by {
    @include appearance();
    padding-bottom: 6px;
    padding-right: 20px;
    width: 195px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $black;
    background-image: url('../src/img/svg/dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
  }

  &__sort-by {
    @include rwd(1170px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__products-pagination {
    @include flex(space-between);

    @include rwd(1170px) {
      margin-top: 15px;
      margin-bottom: 5px;
      order: 1;
    }

    &--padding {
      padding: 10px 30px;
    }

    &--shadow {
      box-shadow: 0 9px 18px lighten($black, 82);
    }
  }

  &__prev-btn,
  &__next-btn {
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: .2s;

    @include rwd(phone) {
      margin-right: 2px;
    }

    &:hover {
      color: lighten($grey-dark-color, 5);
    }
  }

  &__prev-btn {
    &::before {
      content: "\e911";
      margin-right: 7px;
      font-family: "icomoon";
    }
  }

  &__next-btn {
    margin-right: 0;
    margin-left: 10px;

    @include rwd(phone) {
      margin-left: 2px;
    }

    &::after {
      content: "\e90f";
      margin-left: 7px;
      font-family: "icomoon";
    }
  }

  &__counter-products-page {
    margin: 0 40px;

    @include rwd(phone) {
      margin: 0;
    }
  }

  &__page-products-number-item {
    padding: 10px 14px;
    display: inline-block;

    @include rwd(phone) {
      padding: 5px 8px;
    }
    
    &.current {
      color: $primary-color;
      border: 2px solid $grey-color;
    }
  }
}

// II. CUB-CARD
.cub-cards-container {
  margin: 20px 0;
  @include flex(space-around);
}

.cub-card {
  margin: 30px;
  padding: 20px 35px;
  position: relative;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0 20px lighten($black, 92);

    & > .cub-card__shop-action-btns-container {
      display: block;
    }
  }

  &__image-item {
    padding-top: 40px;

    @include rwd(1220px) {
      width: 90%;
      height: 90%;
    }
    
    @include rwd(1140px) {
      width: 80%;
      height: 80%;
    }
    
    @include rwd(910px) {
      width: 70%;
      height: 70%;
    }
    
    @include rwd(710px) {
      width: 60%;
      height: 60%;
    }
  }

  &__title-card-container {
    margin-bottom: 15px;
  }

  &__old-price-container {
    font-size: 0.8rem;
    color: $grey-dark-color;
    font-weight: normal;
    text-decoration: line-through;
  }

  &__current-price-header {
    margin: 3px 0;
    display: inline;
    font-size: 1.2rem;

    &--sale-color {
      color: $sale-alert-color;
    }
  }

  &__vat {
    font-size: 0.8rem;
  }

  // SHOP-ACTION-BTNS
  &__shop-action-btns-container {
    margin-top: 20px;
    display: none;
  }

  &__choose-cups-btn {
    padding: 30px 0;
    margin-bottom: 20px;
    width: 100%;
    color: $white;
    font-weight: bold;
    background-color: $light-green-color;
    transition: .2s;

    &:hover {
      background-color: lighten($light-green-color, 10);
    }
  }

  &__saving-activity-btns-container {
    @include flex(space-between);
    font-size: 0.7rem;

    @include rwd(360px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  &__favourite-cups-btn,
  &__compare-cups-btn {
    margin: 0 14px;
    @include flex(space-between);
    color: $grey-dark-color-strong;
    transition: .2s;

    &:hover {
      transform: translateX(2px);
    }

    @include rwd(360px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    &::before {
      content: "\e915";
      margin-right: 10px;
      font-family: "icomoon";
      font-size: 1.5rem;
    }
  }

  &__compare-cups-btn {
    &::before {
      content: "\e912";
    }
  }
}

.product-status-alert {
  padding: 10px 20px;
  @include pos(absolute, 20px, 35px);
  display: inline;
  color: $white;
  border-radius: 30px;
  background-color: $sale-alert-color;

  &--sale-bg-color {
    background-color: $sale-alert-color;
  }
  
  &--new-bg-color {
    background-color: $new-alert-color;
  }
  
  &--undefined-color {
    background-color: $undefined-alert-color;
  }
}

// III. SIMPLE-CONTENT-TEMPLATE
.simple-content-template {
  margin: 40px 0 132px 0;
  height: 270px;
  position: relative;
  @include bgPos('../src/img/bg_header.png', 0, -264px);

  @include rwd(1140px) {
    margin-top: 95px;
    margin-bottom: 65px;
  }

  @include rwd(852px) {
    background-position: center;
  }
  
  @include rwd(phone) {
    text-align: center;
  }

  &--customize-cup {
    margin-top: 40px;
    margin-bottom: 40px;
    @include bgPos('../src/img/customise.png');
    background-size: auto;
    min-height: 472px;

    @include rwd(1140px) {
      background-size: cover;
      background-position: center;
    }
  }

  &--design-service {
    margin-top: 95px;
    margin-bottom: 95px;
    @include bgPos('../src/img/design.png', right);
    background-size: auto;

    @include rwd(1140px) {
      background-size: cover;
      background-position: center;
    }
  }

  &--newsletter {
    margin-bottom: 0;
    min-height: 362px;
    background-image: none;
  }

  &__article-container {
    padding: 50px;
    @include pos(absolute, 92px, 100px);
    background-color: $white;
    max-width: 620px;
    box-shadow: 0 9px 18px lighten($black, 82);

    @include rwd(1140px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include rwd(810px) {
      min-width: 470px;
    }
    
    @include rwd(phone) {
      min-width: 90%;
    }

    &--customize-cup {
      top: 50%;
      left: 557px;
      transform: translateY(-50%);

      @include rwd(1140px) {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--design-service {
      left: 100px;
      max-width: 540px;

      @include rwd(1140px) {
        left: 50%;
        transform: translateX(-50%, -50%);
      }

      @include rwd(phone) {
        max-width: 90%;
      }
    }

    &--newsletter {
      margin: 0 auto;
      padding: 0;
      position: static;
      text-align: center;
      box-shadow: none;
      background-color: transparent;
      transform: none;

      @include rwd(phone) {
        padding: 0 20px;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: 600;

    @include rwd(910px) {
      font-size: 2rem;
    }

    &--newsletter {
      font-size: 4.4rem;
      word-break: break-all;

      @include rwd(910px) {
        font-size: 3.4rem;
      }
    }
  }

  &__before {
    position: relative;

    &::before {
      content: "";
      display: block;
      @include pos(absolute, 10px);
      width: 100%;
      height: 0.4rem;
      background-color: $black;
    }
  }

  &__triangle-left {
    @include pos(absolute, 10px);
    width: 0;
    height: 0;
    border-left: 0.2rem solid transparent;
    border-bottom: 0.4rem solid black;
    background-color: $white;
  }
  
  &__triangle-right {
    position: absolute;
    top: 10px;
    right: 0;
    width: 0;
    height: 0;
    border-right: 0.2rem solid transparent;
    border-bottom: 0.4rem solid black;
    background-color: $white;
  }
  
  &__content {
    position: relative;
    line-height: 24px;

    &::after {
      content: "";
      @include pos(absolute);
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent, rgba(255,255,255,.94) 62%);
    }

    &--customize-cup {
      &::after {
        content: none;
      }
    }
  }
  
  &__read-more-btn {
    padding: 10px 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    @include flex();
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid $black;
    background-color: $white;
    z-index: 1;
    transition: .2s;

    &:hover {
      color: $white;
      background-color: $black;
    }

    @include rwd(phone) {
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "\e904";
      margin-left: 10px;
      font-family: "icomoon";
      font-size: .5rem;
    }

    &--customize-cup {
      margin-top: 15px;
      position: static;
      transform: none;

      @include rwd(phone) {
        margin-left: auto;
        margin-right: auto;
      }

      &::after {
        content: none;
      }
    }

    &--newsletter {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.header-info {
  padding: 60px 0 22px 0;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}

.newsletter-and-footer-links-container {
  @include bgPos('../src/img/cups.png', 94px, 102px);
  background-size: 90%;

  @include rwd(1260px) {
    background-size: 87%;
  }

  @include rwd(large) {
    background-size: 84%;
    background-position: 98px 67px;
  }

  @include rwd(1140px) {
    background-size: 77%;
    background-position: 118px 134px;
  }
  
  @include rwd(tablet) {
    background-position-x: center;
  }
  
  @include rwd(910px) {
    background-position-y: 167px;
  }
}

// FOOTER-LINKS
.footer-links {
  position: relative;
  @include flex(flex-end, flex-start);
  min-height: 300px;
  font-size: 0.9rem;

  @include rwd(large) {
    padding: 20px 0;
    justify-content: center;
  }

  @include rwd(1140px) {
    padding-bottom: 80px;
    text-align: center;
  }

  @include rwd(medium) {
    padding-top: 0;
    padding-bottom: 90px;
  }

  @include rwd(phone) {
    width: 100%;
  }

  &::after {
    content: "";
    @include pos(absolute);
    width: 100%;
    height: 100%;
    background-color: $dark-color;
    z-index: -1;
  }

  &__list-container {
    margin: 60px 40px 0 40px;
    list-style-type: none;

    @include rwd(1140px) {
      margin-left: 0;
      margin-right: 0;
      width: 35%;
    }

    @include rwd(phone) {
      margin-top: 40px;
      width: 100%;
    }

    &:first-child {
      margin-right: 75px;

      @include rwd(1260px) {
        margin-right: 40px;
      }
    }
    
    &:last-child {
      margin-right: 142px;

      @include rwd(large) {
        margin-right: 40px;
      }

      @include rwd(1140px) {
        margin-right: 0;
      }
    }
  }

  &__list-item {
    &:not(:first-child) {
      margin: 10px 0;
    }

    &:first-child {
      margin-bottom: 20px;
      font-weight: 600;

      &:hover {
        & > .footer-links__link-item {
          color: $secondary-color;
          cursor: default;
        }
      }
    }
  }

  &__link-item {
    color: $white;
    text-decoration: none;
    transition: .2s;

    &:hover {
      color: $primary-color;
    }
  }
}

.social-icons {
  font-size: 1.4rem;

  &__icon-link {
    @include reset(a);
    margin: 0 15px;
    color: darken($grey-dark-color-strong-2, 15);
    transition: .2s;

    &:hover {
      color: $secondary-color;
    }
  }
}

.credit-cards-logos {
  @include flex();

  &__visa {
    margin-right: 15px;
  }
}

.small-logo {
  position: absolute;
  left: 84px;
  bottom: 30px;
  font-size: 1.2rem;

  @include rwd(1140px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

// POP-UP
.pop-up {
  display: none;
  @include pos(fixed);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  z-index: 999;

  &__container {
    padding: 20px;
    position: relative;
    max-width: 400px;
    background-color: $white;
    border-radius: 5px;

    @include rwd(phone) {
      margin: 0 20px;
    }
  }

  &__title {
    line-height: 28px;
  }

  &__close-btn {
    @include pos(absolute, 0, 100%);
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
  }

  &.visible {
    @include flex();
  }
}

// RWD
.hamburger-btn {
  display: none;
  font-size: 1.7rem;
  order: 1;
  cursor: pointer;

  @include rwd(1220px) {
    display: block;
  }

  @include rwd(phone) {
    order: 0;
  }
}