// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// COLORS
$black: #000000;
$white: #ffffff;

// PROJECT
$primary-color: #58bcb4;
$secondary-color: #c81066;
$grey-color: #eaeaea;

$visitedLinkColor: $white;