// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// COLORS
$black: #000000;
$white: #ffffff;

// PROJECT
$primary-color: #58bcb4;
$secondary-color: #c81066;

$grey-color: #eaeaea;
$grey-dark-color: darken(#eaeaea, 20);
$grey-dark-color-strong: #9d9ea0;

$sale-alert-color: #cc0f69;
$new-alert-color: #3f7fc7;

$light-green-color: #5cb8b3;

$visitedLinkColor: $white;